body {
  font-size: 16px;
  line-height: 1.5;
  color: black;
  /*add some padding on the top to create space for fixed header*/
  padding: 30px;
  margin: auto;
  background-image: url("images/babyspinachfarm.gif");
  background-repeat: repeat;
}

div.large-section {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-betweens;
}

div.section-title {
  background-color: rgb(233, 255, 40);
}

div.response-1 {
  background-color: rgb(255, 255, 255);
  display: flexbox;
  margin: 10px;
  padding: 5px;
  float: left;
  width: 30%;
  justify-content: space-around;
}

div.response-2 {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 5px;
  display: flexbox;
  float: left;
  width: 30%;
  justify-content: space-around;
}

div.response-3 {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 5px;
  display: flexbox;
  float: left;
  width: 30%;
  justify-content: space-around;
}
